.newsletter__portfolio {
  margin-left: 600px;
}
.join__tittle-portfolio {
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 113px;
  height: 16px;
  margin-left: 316px;
  position: relative;
  bottom:100px;
}
