.footer__address_portfolio-2 {
  top: 1692px;
  position: absolute;
}
.footer-portfolio {
  display: flex;
  padding-top: 60px;
  height: 252px;
  background: #2f303a;
  margin: 0 auto;
}
.join__portfolio_2 {
  top: 1700px;
  position: absolute;
}
