.button-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: none;
  width: 93px;
  height: 38px;
  left: 639px;
  top: 174px;
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  margin-right: 8px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
