:root {
  --main-font: 'Roboto', sans-serif;
  --socondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}

body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

* {
  box-sizing: border-box;
}
